<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="" name="description">
    <title>House.us: Welcome!</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style-applications.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/leaflet.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
<script>


    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
            $("#btn-facebook-container").hide();
            $("#btn-explore").show();

            //document.location.href = "views/orientate.html";
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                    'into Facebook.';
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '258848811129275',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.5' // use graph api version 2.5
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        FB.api('/me', function(response) {
            document.getElementById('name').innerHTML =
                    'Welcome to us, ' + response.name + '!';
        });

        FB.api(
                "/me/friends",
                function (response) {
                    if (response && !response.error) {
                        /* handle the result */
                    }
                }
        );
    }



</script>

<div class="container-fluid">

    <!-- Navbar -->
    <div class="row row-centered headline">
        <div class="col-md-2" id="name"></div>
        <div class="col-md-8">
            <a class="a-nav" href="../index.html">Home</a>
            <a class="a-nav" href="orientate.html">Housing</a>
            <a class="a-nav" href="#">Applications</a>
            <a class="a-nav" href="contact.html">Contact us</a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>

    <h3>Your applications</h3>

    <div class="col-md-12 nopadding">

        <table class="table table-condensed" id="table-requests">
            <thead>
            <tr>
                <th>House</th>
                <th>Room type</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tr>
                <td>(Example: Number six club)</td>
                <td>Single</td>
                <td>25th of May</td>
                <td>28th of August</td>
                <td>Offer given</td>
                <td><button>Offer accepted</button></td>
            </tr>
            </tbody>
        </table>

        <div class="pics">
            
        </div>


</div>
<!-- End Container -->


<!-- Load JS libraries -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>


</body>
</html>