<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="" name="description">
    <title>House.us: Welcome!</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style-applications.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/leaflet.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container-fluid">

    <!-- Navbar -->
    <div class="row row-centered headline">
        <div class="col-md-12">
            <a class="a-nav" href="index.html">Home</a>
            <a class="a-nav" href="orientate.html">Housing</a>
            <a class="a-nav" href="#">Applications</a>
            <a class="a-nav" href="#">About us</a>
        </div>
    </div>
    <hr>

    <h3>Your applications</h3>

    <div class="col-md-12 nopadding">

        <table class="table table-condensed" id="table-requests">
            <thead>
            <tr>
                <th>House</th>
                <th>Room type</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tr>
                <td>Number six club</td>
                <td>Single</td>
                <td>25th of May</td>
                <td>28th of August</td>
                <td>Pending</td>
                <td><btn class="btn btn-primary">Cancel</btn></td>
            </tr>
            </tbody>
        </table>


</div>
<!-- End Container -->


<!-- Load JS libraries -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>


</body>
</html>