<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="" name="description">
    <title>House.us: Welcome!</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style-applications.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/leaflet.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container-fluid">

    <!-- Navbar -->
    <div class="row row-centered headline">
        <div class="col-md-12">
            <a class="a-nav" href="../index.html">Home</a>
            <a class="a-nav" href="orientate.html">Housing</a>
            <a class="a-nav" href="applications.html">Applications</a>
            <a class="a-nav" href="#">Contact us</a>
        </div>
    </div>
    <hr>

    <h3>Contact us</h3>

    <div class="col-md-12 nopadding">

        Feel free to reach out to the team behind House.us on <a>hello@house.us</a>.

    </div>
    <!-- End Container -->


    <!-- Load JS libraries -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</body>
</html>